@import "tailwindcss";

.gradientText {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(170deg, #9ba4a6, #212426, #858585);
}

.background {
  inset: calc(var(--spacing) * 0);
  z-index: -10;
  background-image: linear-gradient(
      to right,
      rgba(242, 242, 242, 0.837) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(240, 240, 240, 0.8) 1px, transparent 1px);
  background-size: 48px 48px, 48px 48px, 100% 100%, 100% 100%;
}

/* Customize the entire scrollbar */
.customScrollbar::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
  border-radius: 10px;
}

/* Customize the scrollbar track (background) */
.customScrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Light gray background */
}

/* Customize the scrollbar thumb (draggable part) */
.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff3e; /* Darker gray thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Style the thumb on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff85;
}
.pdf-hidden {
  position: absolute;
  top: -20000px;
  left: -20000px;
  /* visibility: hidden; */
}
