@import "tailwindcss";

.background {
  /* position: absolute; */
  inset: calc(var(--spacing) * 0);
  z-index: -10;
  background-image: linear-gradient(
      to right,
      rgba(229, 231, 235, 0.8) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(229, 231, 235, 0.8) 1px, transparent 1px),
    radial-gradient(
      circle 500px at 0% 20%,
      rgba(139, 92, 246, 0.3),
      transparent
    ),
    radial-gradient(
      circle 500px at 100% 0%,
      rgba(59, 130, 246, 0.3),
      transparent
    );

  background-size: 48px 48px, 48px 48px, 100% 100%, 100% 100%;
}

/* Customize the entire scrollbar */
.customScrollbar::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
  border-radius: 10px;
}

/* Customize the scrollbar track (background) */
.customScrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Light gray background */
}

/* Customize the scrollbar thumb (draggable part) */
.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff3e; /* Darker gray thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Style the thumb on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff84;
}
