@import "tailwindcss";

.background {
  /* background: linear-gradient(to bottom left, #ffe4e6, #ccfbf1); */

  background: radial-gradient(at 60% 98%, #dfe2fe 0px, transparent 50%),
    radial-gradient(at 69% 93%, #b1cbfa 0px, transparent 50%),
    radial-gradient(at 47% 37%, #8e98f5 0px, transparent 50%),
    radial-gradient(at 84% 82%, #7874f2 0px, transparent 50%), #dfe2fe;
}

/* Customize the entire scrollbar */
.customScrollbar::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
  border-radius: 10px;
}

/* Customize the scrollbar track (background) */
.customScrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Light gray background */
}

/* Customize the scrollbar thumb (draggable part) */
.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff3e; /* Darker gray thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Style the thumb on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff84;
}
